@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Mukta+Mahee');

*{
    margin:0;
    padding:0;
}

html, body{
    height: 100%;
}

a{
    text-decoration: none;
    color: white;
}

header{
    width:100%;
    height: 175px;
    background-image: url('/images/header_background.jpg');
    background-size: 100% 100%;
}

#headerInfo{  
    padding-top: 2%;
    text-align: center;
    font-size: 1.2em;
    color: rgb(255, 0, 0);
    font-family: 'Titillium Web', sans-serif;
}

#logo{
    width: 800px;
    height: 100px;
    background-image: url('/images/police_logo.png');
    background-size: cover;
    margin-left: 20%;
    background-size: 100% 120%;
}


#menu{
    width: 100%;
    height: 45px;
    background: rgb(53, 46, 95);
}

#menuButtons{
    margin-left: 5%;
    float: left;
}

#menuButtons a{
    float: left;
    display: block;
    padding: 10px 30px;
    font-family: 'Oswald', sans-serif;
    font-style: bold;
    transition: all 3s ease;
    
}

#menuButtons a:nth-child(1n):hover{
    background:rgb(247, 34, 34);
    transition: all 0.30s ease;
}

#menuButtons a:nth-child(2n):hover{
    background:rgb(8, 0, 117);
    transition: all 0.30s ease;
}

#textArea{
    float: left;
    margin-left: 5%;
}

#textArea input[type="text"]{
    margin-top: 2%;
    width: 250px;
    height: 30px;
    border: 0.5px solid rgba(69, 62, 109, 0.438);
    border-radius: 5px;
}

#textArea input[type="text"]:focus{
    outline: none;
    background:rgb(185, 223, 252);
}

#buttonSearch button{
    width: 30px;
    height: 30px;
    margin-left: 0.5%;
    margin-top: 0.35%;
    background-image: url('/images/search-icon.png');
    background-size: 100% 95%;
    border: 0px;
    border-radius: 5px;
}

#buttonSearch button:focus{
    outline: none;
}


.wrapper{
    background:rgba(170, 167, 204, 0.062);
    margin-bottom: 0px;
}

footer{
    height: 150px;
    background: white;
}

footer > #footerText{
    width: 200px;
    height: 150px;
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
    float: left;
}

footer > #footerText > #footerEmail{
    text-decoration: underline;
    color:rgb(55, 55, 100);
}

footer > #footerLinks{
    width: 300px;
    float: left;
    margin-left: 25%;
    margin-top: 1%;
}

footer > #footerLinks > a{
    
    color: rgb(45, 0, 151);
    font-family: 'Mukta Mahee', sans-serif; 
    text-decoration: underline;
    float: left;
    margin-right: 6%;
    font-weight: bold;
}



/* This is a start of a mainPage.blade.php */
#bigPhoto{
    width: 100%;
    height: 520px;
    background-image: url('/images/mainPage/logo.jpg');
    background-size: 100% 100%;
}

#emergencyText{
    font-family: 'Mukta Mahee', sans-serif;     
    color: rgb(146, 68, 68);
    font-size: 1.3em;
    font-weight: bold;
    float: right;
    margin-right: 11%; 
    margin-top: 1%;
}

#bigBlock{
    width: 95%;
    height: 420px;
    margin-left: 2.5%;
    margin-top: 5%;
}

.navigationBlocks{
    width:340px;
    height: 300px;
    border: 1px solid blue;
    margin-left: 4.5%;
    margin-top: 4%;
    float: left;
}

.topOfSmallBlocks{
    width: 340px;
    height: 50px;
    background:rgb(45, 51, 131);
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-size: 1.3em;
    font-family: 'Mukta Mahee', sans-serif;   
}

.smallBlocks{
    width: 340px;
    height: 250px;
    opacity: 0.5;
}

.smallBlocks:hover{
    opacity: 1;
}

.smallBlocks > a > img{
    width: 340px;
    height: 235px;
}

